@font-face {
  src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf) format("woff2");
  font-family: "Raleway";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-name-instance: "Regular";
}
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles */
ul,
ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* Set core body defaults */
html {
  overflow-x: hidden;
}
/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
/*Variables*/
:root {
  --primary-one: #1de2a2;
  --primary-two: rgba(62, 100, 178, 1);
  --primary-white: rgb(243, 243, 243);
  --primary-black: rgba(51, 51, 53, 1);

  --neutral-one: rgb(75, 83, 83);
  --neutral-footer: rgb(30, 30, 30);
}
/*---------------------------
 ** Base
-----------------------------*/
body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: "Raleway", Times, serif;
  font-size: 16px;
  overflow-x: hidden;
  color: var(--primary-black);
  background-color: var(--primary-white);
  max-width: 100%;
  overflow-y: hidden;
  text-align: center;
}
main,
header {
  background-color: var(--primary-white);
}
header,
main,
footer {
  overflow: hidden;
  margin: 0rem 1.2rem;
  z-index: 1;
  & p {
    max-width: 60%;
  }
  @media screen and(min-width:600px) {
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
strong,
em {
  font-weight: inherit;
  font-style: inherit;
}
a {
  text-decoration: none;
}
body,
header,
main,
footer,
.call-to-action,
.btn-contact,
.trasnport-agabaritic,
.icon-container,
.content-center,
.express,
.danfran,
.gallery-container,
.footer-container,
.info-container,
.contact-informations,
.contact-img-container,
.main-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero,
.hero-aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/*---------------------------
 ** Component Styles
-----------------------------*/
.navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0rem 1.5rem;
  margin: 1.2rem 1.2rem 0rem 1.2rem;
  @media screen and(min-width:850px) {
    background-color: var(--primary-white);
    max-width: 1440px;
    padding: 1rem 2.5rem;
    margin: 0rem;
  }
}
.switch-lang-container {
  cursor: pointer;
  text-decoration: none;
  @media screen and(max-width:660px) {
    color: var(--primary-white);
  }
}
.color {
  color: var(--primary-white);
  background-color: var(--primary-two);
  border-radius: 50%;
  padding: 0.2rem;
  transition: 0.5s ease-in;
  @media screen and(max-width:660px) {
    color: var(--primary-white);
    border: 1px solid var(--primary-one);
    border-radius: 50%;
  }
}
.logo-container {
  text-align: left;
  width: 9.2rem;

  .logo {
    color: var(--primary-black);
    display: block;
    font-weight: 500;
    font-size: 1rem;
  }
}
//----------------------------Hamburger menu------------------------
.hamburger {
  display: none;
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-black);
  }
  @media only screen and (max-width: 660px) {
    z-index: 3;
    padding: 0px;
    display: block;
    background: none;
    color: inherit;
    border: none;
    outline: inherit;
    cursor: pointer;
    &.active {
      .bar {
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(1) {
          transform: translateY(8px) rotate(45deg);
        }
        &:nth-child(3) {
          transform: translateY(-8px) rotate(-45deg);
        }
      }
    }
  }
}
.nav-menu {
  z-index: 1000;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  & li {
    @media only screen and (min-width: 660px) {
      color: var(--primary-black);
      &:hover {
        text-decoration: underline;
      }
    }

    a {
      @media only screen and (min-width: 660px) {
        color: var(--primary-black);
      }
      color: var(--primary-white);
    }
  }
  &.active {
    top: 6rem;
    left: -0px;
    margin: auto;
    position: absolute;
    z-index: 1000;
  }
  .contact-btn {
    color: var(--primary-white);
    border: 0.1rem solid var(--primary-one);
    border-radius: 15px;
    padding: 0.5rem 2.5rem;
    &:hover {
      color: var(--primary-white);
    }
    @media only screen and (min-width: 660px) {
      color: var(--primary-black);
      border: 0.1rem solid var(--primary-two);
      transition: 500ms ease-out;
      &:hover {
        background-color: var(--primary-two);
        color: var(--primary-white);
      }
    }
  }
  @media only screen and (max-width: 660px) {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(62, 120, 178, 0.97);
    width: 100%;
    height: 16rem;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    transition: 0.4s;
    box-shadow: 0px 20px 10px rgba(0, 0, 0, 0.05);
  }
}
//-----------------------------------------------------------------------------------------------------------
//--------------------------------------------------Hero-background-circles------------------------------------
.circle-two,
.main-circle-one,
.main-circle-two,
.main-circle-three {
  position: absolute;
  width: clamp(20rem, 30rem, 50rem);
  z-index: -50;
  animation: bg-circles 50s forwards infinite linear;
}
.circle-two {
  right: 40%;
  top: 5%;
  @media only screen and(min-width:600px) {
    display: none;
  }
}
.main-circle-one {
  top: 56rem;
  left: -30%;
  z-index: -1;
  @media only screen and(min-width:600px) {
    top: 70rem;
    left: -10rem;
    width: 45%;
  }
  @media only screen and(min-width:1000px) {
    width: 40%;
  }
  @media only screen and(min-width:1440px) {
    top: 45rem;
    left: 25rem;
    width: 20rem;
  }
}
.main-circle-two {
  top: 90rem;
  right: 0rem;
  width: 15rem;
  @media only screen and(min-width:600px) {
    right: 0rem;
    top: 90rem;
    width: 22%;
  }
  @media only screen and(min-width:1000px) {
    width: 30%;
  }
  @media only screen and(min-width:1440px) {
    top: 75rem;
    left: 70rem;
    width: 25rem;
  }
}
.main-circle-three {
  top: 130em;
  left: -30%;
  @media only screen and(min-width:600px) {
    top: 130rem;
    left: -5rem;
    width: 60%;
  }
  @media only screen and(min-width:1000px) {
    width: 40%;
  }
  @media only screen and(min-width:1440px) {
    top: 93rem;
    left: 10rem;
    width: 35rem;
  }
}
.hero-img-mobile {
  position: absolute;
  z-index: -10;
  width: auto;
  height: auto;
  width: 90vw;
  height: 90vw;
  transform: rotate(0deg);
  @media screen and (min-width: 410px) {
    width: 70vw;
    height: 70vw;
    transform: rotate(-10deg);
  }
  @media screen and (min-width: 500px) {
    width: 60vw;
    height: 60vw;
  }
  @media screen and (min-width: 600px) {
    width: 50vw;
    height: 50vw;
  }
  @media screen and (min-width: 850px) {
    width: 25rem;
    height: 25rem;
  }
  @media screen and(min-width:1100px) {
    display: none;
  }
}
.green {
  animation: showup 3s forwards;
}
.blue {
  animation: showup 2s forwards;
}
.black {
  animation: showup 1s forwards;
}
@keyframes showup {
  from {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bg-circles {
  from {
    transform: translateY(-15%);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    transform: translateY(20%);
    opacity: 0;
  }
}
.fade-in {
  opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;

  transition: opacity 0.8s ease-in;
}
.fade-in.appear {
  opacity: 1;
  animation: dash 10s linear forwards;
}
@keyframes dash {
  from {
  }
  to {
    stroke-dashoffset: 0;
  }
}
//-------------------------------------------------------------------------------------------------------------
//-----------------------------------------------Hero-main-text---------------------------
.header {
  @media screen and (min-width: 1100px) {
    max-width: 100%;
  }
}
.hero {
  z-index: 1;
  .call-to-action {
    z-index: 1;
    @media screen and (min-width: 1100px) {
      text-align: left;
      align-items: flex-start;
      justify-content: flex-start;
      max-width: 100%;
    }
    .hero-titlu {
      font-size: 1.9rem;
      line-height: 2rem;
      font-weight: 700;
      margin-top: 2.5rem;
      @media screen and (min-width: 600px) {
        font-size: 5.7vw;
        margin-left: 2rem;
        margin-right: 2rem;
        line-height: 3rem;
      }
      @media screen and (min-width: 800px) {
        line-height: 4rem;
      }
      @media screen and (min-width: 1100px) {
        font-size: 3rem;
        max-width: 30rem;
        margin-left: 0rem;
        margin-right: 0rem;
        line-height: 3.8rem;
        .header-text-accent-color {
          font-size: 3.2rem;
        }
      }

      span {
        color: var(--primary-two);
      }
    }
    .hero-text {
      margin-top: 1rem;
      margin-bottom: 2.5rem;
      max-width: 27rem;
      color: var(--neutral-one);
      @media screen and (min-width: 600px) {
        font-size: 2.5vw;
      }
      @media screen and (min-width: 600px) {
        max-width: 32rem;
        font-size: 2.5vw;
      }
      @media screen and (min-width: 850px) {
        min-width: 30rem;
        font-size: 1.2rem;
      }
    }
    .btn-contact {
      padding: 0.7rem 9rem;
      max-width: 15rem;
      color: var(--primary-two);
      font-weight: 600;
      font-size: 17px;
      border-radius: 15px;
      background: var(--primary-two);
      color: var(--primary-white);
      transition: 0.5s linear;
      border: 1px solid rgba(0, 0, 0, 0);
      &:hover {
        background: none;
        border: 1px solid var(--primary-two);
        color: var(--primary-black);
      }
      @media screen and(min-width:600px) {
        padding: 0.7rem 5rem;
        z-index: 1;
      }
    }
  }
  @media screen and (min-width: 1100px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-right: 11rem;
    margin-left: 11rem;
    margin: 2rem 11rem 7rem 11rem;
    padding: 0rem 2.5rem 8rem 2.5rem;

    overflow: hidden;
    background-image: url(./pozeDesktop/desktop-main-circles-group.svg);
    background-repeat: no-repeat;
    background-position: 120% -100%;
    background-size: 30rem;
  }
  @media screen and (min-width: 1200px) {
    background-position: 120% 200%;
    background-size: 38rem;
  }
}
//---------------------------------------Hero-aside--------------------------------------------
.hero-aside {
  margin-bottom: 0rem;
  margin-top: 5rem;
  height: 20rem;
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 4.2rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    h3 {
      font-weight: 500;
    }
  }
  .transport-agabaritic-card {
    margin-top: 0rem;
    border-radius: 15px;
    font-size: 1rem;
    background-color: var(--primary-white);
    padding: 1rem 0rem;
    transform: rotate(-5deg);
    width: 14.8rem;
    height: 3.75rem;
    animation: showup 1s forwards;
    @media screen and(min-width:600px) {
      width: 42vw;
      height: 9vw;
      font-size: 3vw;
    }
    @media screen and(min-width:850px) {
      width: 21rem;
      height: 4rem;
      font-size: 1.2rem;
    }
    @media screen and(min-width:1100px) {
      margin-right: 5rem;
      margin-top: 4rem;
    }
    @media screen and(min-width:1200px) {
      margin-right: 10rem;
      margin-top: 4rem;
    }
  }
  .casa-expeditii {
    margin-left: 2rem;
    border-radius: 15px;
    font-size: 15px;
    background-color: var(--primary-white);
    padding: 0.8rem 0rem;
    width: 14rem;
    transform: rotate(-5deg);
    width: 12.3rem;
    height: 3.1rem;
    animation: showup 2s forwards;
    @media screen and(min-width:600px) {
      width: 35vw;
      height: 8vw;
      font-size: 2.5vw;
    }
    @media screen and(min-width:850px) {
      width: 20rem;
      height: 3.5rem;
      font-size: 1.1rem;
    }
    @media screen and(min-width:1100px) {
      margin-right: 5rem;
    }
  }
  .transport-comunitate {
    margin-left: 4rem;
    border-radius: 15px;
    font-size: 11px;
    background-color: var(--primary-white);
    padding: 0.7rem 0rem;
    transform: rotate(-5deg);
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
    width: 11rem;
    height: 2.5rem;
    animation: showup 3s forwards;
    @media screen and(min-width:600px) {
      width: 30vw;
      height: 7vw;
      font-size: 2vw;
    }
    @media screen and(min-width:850px) {
      width: 19rem;
      height: 3.2rem;
      font-size: 1rem;
    }
  }
  .check-sign {
    width: 17px;
    height: 17px;
  }
  @media screen and(min-width:1100px) {
    margin-top: 0rem;
    gap: 1.5rem;
    justify-content: flex-start;
  }
  @media screen and (max-width: 1100px) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0px;
    height: 25rem;
  }
}
//-------------------------------------------MAIN- CONTENT-------------------------------------
.main-content {
  margin-top: 4rem;
  max-width: 1440px;
  .trasnport-agabaritic {
    @media screen and (min-width: 1100px) {
      margin-bottom: 12rem;
    }
    width: 100%;
    .transport-title {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin-bottom: 4rem;
      .main-title {
        width: 100%;
      }
      @media screen and (min-width: 600px) {
        font-size: 1.2rem;
        width: 70%;
        margin-top: 3rem;
      }
      @media screen and (min-width: 850px) {
        font-size: 1.5rem;
        width: 50%;
      }
    }
    .main-cards-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      gap: 4rem;
      @media screen and (min-width: 600px) {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5rem 0rem 5rem 0rem;
      }
      @media screen and (min-width: 850px) {
        width: 100%;
      }

      .icon-container {
        width: 5.2rem;
        height: 5.2rem;
        border-radius: 15px;
        box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.25);
        .main-icons {
          @media screen and (min-width: 850px) {
            width: 2.2rem;
          }
        }
        @media screen and (max-width: 850px) {
          width: 4rem;
          height: 4rem;
        }
      }
      .content-center {
        & h3 {
          margin-top: 1rem;
          font-weight: 500;
          @media screen and (min-width: 600px) {
            font-size: 1.5rem;
          }
        }
        & p {
          width: 17rem;
          color: var(--neutral-one);
          margin-top: 0.5rem;
          @media screen and (min-width: 600px) {
            font-size: 1.2rem;
          }
        }
      }
      .greutate-blue {
        background-color: var(--primary-two);
      }
      .locatii-black {
        background-color: var(--primary-black);
      }
      .dimensiune-verde {
        background-color: var(--primary-one);
      }
    }
  }
}
//--------------------------------------------ABOUT US -----------------------------------

.about-us {
  .desprenoi-title {
    margin: 4rem 0rem 2rem 0rem;
    font-size: 1.2rem;
    @media screen and (min-width: 600px) {
      font-size: 1.5rem;
    }
  }
  .about-us-container {
    display: flex;
    flex-direction: column;

    @media screen and(min-width:1100px) {
      flex-direction: row-reverse;
      text-align: left;
      padding: 2.5rem;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 8rem;
    }
    .main-img-container {
      height: 50vw;
      width: 100%;
      @media screen and(min-width:1100px) {
        height: inherit;
      }
      .main-img {
        width: 100%;
        @media screen and(min-width:400px) {
          width: 70%;
        }
        @media screen and(min-width:1000px) {
          width: 60%;
        }
        @media screen and(min-width:1100px) {
          transform: translateX(5.2rem);
          width: 90%;
        }
      }
    }
    .about-us-text {
      @media screen and(min-width:1100px ) {
        width: 50%;
      }
      @media screen and(min-width:1300px ) {
        width: 35%;
      }
      .express,
      .danfran {
        margin: 2rem 0rem;
        @media screen and(min-width:1100px ) {
          text-align: left;
          justify-content: flex-start;
          align-items: flex-start;
          border-left: 1px solid var(--primary-one);
          padding-left: 2rem;
        }
        h3 {
          margin-bottom: 2rem;
          @media screen and(min-width:1100px ) {
            text-align: left;
          }
        }
        p {
          color: --var(--neutral-one);
          max-width: 100%;
          @media screen and(min-width:600px ) {
            max-width: 70%;
          }
          @media screen and(min-width:1100px ) {
            max-width: 100%;
          }
        }
      }
      @media screen and(min-width:850) {
        text-align: left;
        align-items: flex-start;
      }
      @media screen and (min-width: 600px) {
        font-size: 1.2rem;
        h3 {
          font-size: 1.2;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
//------------------------------------------Galerie photo-----------------------------------
.gallery-container {
  z-index: 1;
  background: linear-gradient(271.73deg, #1de2a2 -6.22%, #3e78b2 79.14%);
  width: 100%;
  margin-top: 4rem;
  padding: 1.2rem 1.2rem 2rem 1.2rem;
  color: var(--primary-white);
  h3 {
    @media screen and(min-width:600px) {
      font-size: 3rem;
    }
  }
  .second-title {
    font-size: 0.8rem;
    margin-bottom: 0.7rem;
    @media screen and(min-width:600px) {
      margin: 1rem 0rem 0.5rem 0rem;
      font-size: 1rem;
    }
  }
}
.description {
  display: none;
  @media screen and(min-width:600px) {
    margin-bottom: 1.5rem;
    color: var(--primary-white);
    font-size: 1.2rem;
  }
}
.gallery-btn {
  padding: 0.4rem 7rem;
  color: var(--primary-white);
  font-weight: 600;
  font-size: 17px;
  border-radius: 15px;
  border: 0.1rem solid var(--primary-white);
  transition: 0.5s linear;

  &:hover {
    background: var(--primary-white);
    color: var(--primary-two);
  }
  @media screen and(min-width:600px) {
    padding: 0.4rem 5rem;
  }
}
@media screen and (min-width: 600px) {
  .description {
    display: block;
  }
}
//-----------------------------------------__Footer----------------------------------
.footer-container {
  z-index: 1;
  min-width: 100vw;
  background-color: var(--neutral-footer);
  color: var(--primary-white);
  width: 100%;
  padding: 3rem 1.2rem;
  @media screen and (min-width: 600px) {
    padding: 4rem 0rem;
  }
  @media screen and (min-width: 1500px) {
    padding: 4rem 0rem 2rem 0rem;
  }
  .footer-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
    color: var(--primary-one);
    @media screen and(min-width:600px) {
      font-size: 1.5rem;
    }
    .footer-subtitle {
      font-size: 0.9rem;
      @media screen and(min-width:600px) {
        font-size: 1.2rem;
      }
    }
  }
  .info-container {
    padding-top: 2rem;
    gap: 2rem;
    p {
      @media screen and(min-width:600px) {
        font-size: 1.2rem;
        width: 18rem;
      }
    }
    h3 {
      @media screen and(min-width:600px) {
        font-size: 1.5rem;
      }
      font-size: 1.2rem;
    }
    a {
      @media screen and(min-width:600px) {
        font-size: 1.2rem;
      }
      color: var(--primary-white);

      text-decoration: underline;

      transition: 0.3s;
      &:hover {
        text-decoration: none;
        color: var(--primary-one);
      }
    }
    .telephone {
      @media screen and (min-width: 1500px) {
        margin-bottom: 15rem;
      }
    }
    .contact-informations {
      gap: 1rem;
      width: 20rem;
      h2 {
        color: var(--primary-one);
        font-weight: 600;
        font-size: 1.5rem;
      }
      .contact-img-container {
        margin-top: 1rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: var(--primary-black);
      }
    }
    @media screen and (min-width: 600px) {
      flex-direction: row;
      flex-wrap: wrap;

      width: 80%;
      gap: 5rem;
    }
    @media screen and (min-width: 1500px) {
      padding-top: 2rem;
      gap: 7rem;
      width: 1400px;
    }
  }
}
